<!DOCTYPE html>
<html layout:decorate="~{layout/layout_base}" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Inserte cursos -</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="row">
				<div class="jumbotron jumbotron-fluid bg-dark py-4 px-4 text-white">
					<div class="container">
						<h1 class="display-4">Lenguajes</h1>
						<p class="lead">This is a modified jumbotron that occupies the
						entire horizontal space of its parent.</p>
					</div>
				</div>
				<div class="row">
        			<H1>Hello world</H1>
					<a th:href="@{/lang}">Lenguaje</a>
					<a th:href="@{/category}">Categorias</a>
					<a th:href="@{/subcategory}">Subcategorias</a>
					<div sec:authorize="isAuthenticated()">
						Bienvenido: <span sec:authentication="name"></span> -> <span sec:authentication="principal.authorities"></span>
						
					</div>
					<div sec:authorize="!isAuthenticated()">
						Acceso denegado!
					</div>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						Bienvenido
					</div>
					<a href="" class="btn btn-outline-success" th:href="@{/course}" sec:authorize="isAuthenticated()">Cursos</a>
        		</div>
			</div>
		</div>
	</body>
</html>