<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/user-create}" method="POST" th:object="${userperson}">
	<label>Nombre</label>
	<input type="text" class="form-control" th:field="*{name}"/>
	<label>Apellido</label>
	<input type="text" class="form-control" th:field="*{lastname}"/>
	<label>Correo electronico</label>
	<input type="email" class="form-control" th:field="*{email}"/>
	<label>Contraseña</label>
	<input type="password" class="form-control" th:field="*{password}"/>
	<label>Genero</label>
	<input type="radio" class="form-control" name="gender" value="1" th:field="*{gender}"/><label>Macho</label>
	<input type="radio" class="form-control" name="gender" value="2" th:field="*{gender}"/><label>Hembra</label>
	<button type="submit">Guardar</button>
</form>
</body>
</html>